@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to K8s - Sales Application </h1>
        <p>This apppication is build on top microservices architecture, seperating each service and managing the concerns in its own siloce</p>
        <div class="align-middle">            
             <img src="~/images/k82.png" class="float-right"/>
        </div>        
    </div>
